@import './script/colorPalette.scss';

$blue-base: #1890ff;
$blue-1: colorpalette($blue-base, 1);
$blue-2: colorpalette($blue-base, 2);
$blue-3: colorpalette($blue-base, 3);
$blue-4: colorpalette($blue-base, 4);
$blue-5: colorpalette($blue-base, 5);
$blue-6: $blue-base;
$blue-7: colorpalette($blue-base, 7);
$blue-8: colorpalette($blue-base, 8);
$blue-9: colorpalette($blue-base, 9);
$blue-10: colorpalette($blue-base, 10);

$purple-base: #722ed1;
$purple-1: colorpalette($purple-base, 1);
$purple-2: colorpalette($purple-base, 2);
$purple-3: colorpalette($purple-base, 3);
$purple-4: colorpalette($purple-base, 4);
$purple-5: colorpalette($purple-base, 5);
$purple-6: $purple-base;
$purple-7: colorpalette($purple-base, 7);
$purple-8: colorpalette($purple-base, 8);
$purple-9: colorpalette($purple-base, 9);
$purple-10: colorpalette($purple-base, 10);

$cyan-base: #13c2c2;
$cyan-1: colorpalette($cyan-base, 1);
$cyan-2: colorpalette($cyan-base, 2);
$cyan-3: colorpalette($cyan-base, 3);
$cyan-4: colorpalette($cyan-base, 4);
$cyan-5: colorpalette($cyan-base, 5);
$cyan-6: $cyan-base;
$cyan-7: colorpalette($cyan-base, 7);
$cyan-8: colorpalette($cyan-base, 8);
$cyan-9: colorpalette($cyan-base, 9);
$cyan-10: colorpalette($cyan-base, 10);

$green-base: #52c41a;
$green-1: colorpalette($green-base, 1);
$green-2: colorpalette($green-base, 2);
$green-3: colorpalette($green-base, 3);
$green-4: colorpalette($green-base, 4);
$green-5: colorpalette($green-base, 5);
$green-6: $green-base;
$green-7: colorpalette($green-base, 7);
$green-8: colorpalette($green-base, 8);
$green-9: colorpalette($green-base, 9);
$green-10: colorpalette($green-base, 10);

$magenta-base: #eb2f96;
$magenta-1: colorpalette($magenta-base, 1);
$magenta-2: colorpalette($magenta-base, 2);
$magenta-3: colorpalette($magenta-base, 3);
$magenta-4: colorpalette($magenta-base, 4);
$magenta-5: colorpalette($magenta-base, 5);
$magenta-6: $magenta-base;
$magenta-7: colorpalette($magenta-base, 7);
$magenta-8: colorpalette($magenta-base, 8);
$magenta-9: colorpalette($magenta-base, 9);
$magenta-10: colorpalette($magenta-base, 10);

// alias of magenta
$pink-base: #eb2f96;
$pink-1: colorpalette($pink-base, 1);
$pink-2: colorpalette($pink-base, 2);
$pink-3: colorpalette($pink-base, 3);
$pink-4: colorpalette($pink-base, 4);
$pink-5: colorpalette($pink-base, 5);
$pink-6: $pink-base;
$pink-7: colorpalette($pink-base, 7);
$pink-8: colorpalette($pink-base, 8);
$pink-9: colorpalette($pink-base, 9);
$pink-10: colorpalette($pink-base, 10);

$red-base: #f5222d;
$red-1: colorpalette($red-base, 1);
$red-2: colorpalette($red-base, 2);
$red-3: colorpalette($red-base, 3);
$red-4: colorpalette($red-base, 4);
$red-5: colorpalette($red-base, 5);
$red-6: $red-base;
$red-7: colorpalette($red-base, 7);
$red-8: colorpalette($red-base, 8);
$red-9: colorpalette($red-base, 9);
$red-10: colorpalette($red-base, 10);

$orange-base: #fa8c16;
$orange-1: colorpalette($orange-base, 1);
$orange-2: colorpalette($orange-base, 2);
$orange-3: colorpalette($orange-base, 3);
$orange-4: colorpalette($orange-base, 4);
$orange-5: colorpalette($orange-base, 5);
$orange-6: $orange-base;
$orange-7: colorpalette($orange-base, 7);
$orange-8: colorpalette($orange-base, 8);
$orange-9: colorpalette($orange-base, 9);
$orange-10: colorpalette($orange-base, 10);

$yellow-base: #fadb14;
$yellow-1: colorpalette($yellow-base, 1);
$yellow-2: colorpalette($yellow-base, 2);
$yellow-3: colorpalette($yellow-base, 3);
$yellow-4: colorpalette($yellow-base, 4);
$yellow-5: colorpalette($yellow-base, 5);
$yellow-6: $yellow-base;
$yellow-7: colorpalette($yellow-base, 7);
$yellow-8: colorpalette($yellow-base, 8);
$yellow-9: colorpalette($yellow-base, 9);
$yellow-10: colorpalette($yellow-base, 10);

$volcano-base: #fa541c;
$volcano-1: colorpalette($volcano-base, 1);
$volcano-2: colorpalette($volcano-base, 2);
$volcano-3: colorpalette($volcano-base, 3);
$volcano-4: colorpalette($volcano-base, 4);
$volcano-5: colorpalette($volcano-base, 5);
$volcano-6: $volcano-base;
$volcano-7: colorpalette($volcano-base, 7);
$volcano-8: colorpalette($volcano-base, 8);
$volcano-9: colorpalette($volcano-base, 9);
$volcano-10: colorpalette($volcano-base, 10);

$geekblue-base: #2f54eb;
$geekblue-1: colorpalette($geekblue-base, 1);
$geekblue-2: colorpalette($geekblue-base, 2);
$geekblue-3: colorpalette($geekblue-base, 3);
$geekblue-4: colorpalette($geekblue-base, 4);
$geekblue-5: colorpalette($geekblue-base, 5);
$geekblue-6: $geekblue-base;
$geekblue-7: colorpalette($geekblue-base, 7);
$geekblue-8: colorpalette($geekblue-base, 8);
$geekblue-9: colorpalette($geekblue-base, 9);
$geekblue-10: colorpalette($geekblue-base, 10);

$lime-base: #a0d911;
$lime-1: colorpalette($lime-base, 1);
$lime-2: colorpalette($lime-base, 2);
$lime-3: colorpalette($lime-base, 3);
$lime-4: colorpalette($lime-base, 4);
$lime-5: colorpalette($lime-base, 5);
$lime-6: $lime-base;
$lime-7: colorpalette($lime-base, 7);
$lime-8: colorpalette($lime-base, 8);
$lime-9: colorpalette($lime-base, 9);
$lime-10: colorpalette($lime-base, 10);

$gold-base: #faad14;
$gold-1: colorpalette($gold-base, 1);
$gold-2: colorpalette($gold-base, 2);
$gold-3: colorpalette($gold-base, 3);
$gold-4: colorpalette($gold-base, 4);
$gold-5: colorpalette($gold-base, 5);
$gold-6: $gold-base;
$gold-7: colorpalette($gold-base, 7);
$gold-8: colorpalette($gold-base, 8);
$gold-9: colorpalette($gold-base, 9);
$gold-10: colorpalette($gold-base, 10);

$royalbule-base: #4169e1;
$royalbule-1: colorpalette($royalbule-base, 1);
$royalbule-2: colorpalette($royalbule-base, 2);
$royalbule-3: colorpalette($royalbule-base, 3);
$royalbule-4: colorpalette($royalbule-base, 4);
$royalbule-5: colorpalette($royalbule-base, 5);
$royalbule-6: $royalbule-base;
$royalbule-7: colorpalette($royalbule-base, 7);
$royalbule-8: colorpalette($royalbule-base, 8);
$royalbule-9: colorpalette($royalbule-base, 9);
$royalbule-10: colorpalette($royalbule-base, 10);

$gray-1: rgba(0, 0, 0, .02);
$gray-2: rgba(0, 0, 0, .04);
$gray-3: rgba(0, 0, 0, .08);
$gray-4: rgba(0, 0, 0, .15);
$gray-5: rgba(0, 0, 0, .25);
$gray-6: rgba(0, 0, 0, .45);
$gray-7: rgba(0, 0, 0, .65);
$gray-8: rgba(0, 0, 0, .75);
$gray-9: rgba(0, 0, 0, .85);
$gray-10: rgba(0, 0, 0, 1);

$blueGray-1: rgba(28, 36, 46, .02);
$blueGray-2: rgba(28, 36, 46, .04);
$blueGray-3: rgba(28, 36, 46, .08);
$blueGray-4: rgba(28, 36, 46, .15);
$blueGray-5: rgba(28, 36, 46, .25);
$blueGray-6: rgba(28, 36, 46, .45);
$blueGray-7: rgba(28, 36, 46, .65);
$blueGray-8: rgba(28, 36, 46, .75);
$blueGray-9: rgba(28, 36, 46, .85);
$blueGray-10: rgba(28, 36, 46, 1);